<h1>Comentários</h1>
<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Texto</th>
      <th>Autor</th>
      {{#if admin}}
        <th>Editar</th>
        <th>Deletar</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each comentarios}}
      <tr>
        <td>{{this.titulo}}</td>
        <td>{{this.texto}}</td>
        <td>{{this.autor}}</td>
        {{#if ../admin}}
          <td><a href="/comentarioUpdate/{{this.id}}" class="btn btn-warning">Editar</a></td>
          <td><a href="/comentarioDelete/{{this.id}}" class="btn btn-danger">Deletar</a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
