<h1>Lista de Livros</h1>
<a href="/livro/create">Novo Livro</a>

<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Título</th>
      <th>Editora</th>
      <th>Ano</th>
      <th>ISBN</th>
      <th>Categoria</th>
      <th>Autores</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each livros}}
      <tr>
        <td>{{this.titulo}}</td>
        <td>{{this.editora}}</td>
        <td>{{this.ano_publicacao}}</td>
        <td>{{this.isbn}}</td>
        <td>{{this.categoria.nome}}</td>
        <td>
          {{#each this.autores}}
            {{this.nome}}{{#unless @last}}, {{/unless}}
          {{/each}}
        </td>
        <td>{{this.status}}</td>
        <td>
          <a href="/livro/update/{{this._id}}">Editar</a>
           <form action="/livro/delete/{{this._id}}" method="POST" style="display:inline">
          <button type="submit"
                  onclick="return confirm('Confirma exclusão deste livro?')">
            Excluir
          </button>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="8" style="text-align:center;">Nenhum livro encontrado.</td>
      </tr>
    {{/each}}
  </tbody>
</table>
